.container {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(0 0 0 / 10%);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 9999;
}
.dots_1 {
   width: 60px;
   aspect-ratio: 4;
   background: radial-gradient(circle closest-side, #28abb0 90%, #0000) 0 /
      calc(100% / 3) 100% space;
   clip-path: inset(0 100% 0 0);
   animation: d1 1s steps(4) infinite;
}
@keyframes d1 {
   to {
      clip-path: inset(0 -34% 0 0);
   }
}
