.app_header {
   background-color: #282c34;
   min-height: 100vh;
   width: 100%;
   height: auto;
   position: absolute;
   font-size: calc(10px + 1vmin);
   color: white;
}

/* custom navbar */

.cus_header {
   display: flex;
   justify-content: space-between;
   margin: 0;
   width: 100%;
   height: 70px;
   background-color: #f5f5f5;
   ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
   }

   a {
      text-decoration: none;
   }
   span {
      color: #797979;
   }
}
.header_left {
   float: left;
   width: 240px;
   height: 100%;
}
.topbar_left {
   padding-left: 5px;
   width: 50%;
   height: 100%;
}
.topbar_right {
   float: right;
   height: 100%;
   width: 496px;
}
.logo_box {
   height: 70px;
   width: 240px;
   float: left;
}
.logo {
   display: block;
   line-height: 70px;
   text-align: center;
   img {
      width: 190px;
      height: 71px;
   }
}
.logo img {
   vertical-align: middle;
}
.avatar {
   width: 32px;
   height: 32px;
   border-radius: 50%;
   margin-right: 10px;
}
.right_25 {
   margin-right: 25px;
}
.li_block {
   float: right;
   line-height: 70px;
   height: 70px;
   width: 140px;
   img {
      vertical-align: middle;
   }
   button {
      border: none;
      background: border-box;
   }
}

.dropdown {
   position: relative;
   display: inline-block;
}
@keyframes fade {
   from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(20px);
   }
   to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
   }
}
.dropdown_content {
   display: none;
   position: relative;
   right: 23px;
   background-color: #f1f1f1;
   min-width: 160px;
   box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
   border: 0.5px solid #dadada;
   animation: fade 0.2s linear forwards;
   a {
      padding: 18px 18px;
      line-height: 0;
      display: block;
      &:hover {
         background-color: #ddd;
      }
   }
   i {
      margin-right: 5px;
      font-size: 16px;
   }
}
.show {
   display: block;
}
.title_item {
   line-height: 0;
   display: block;
   font-weight: 600;
   padding: 23px 16px;
}
.icon_item {
   margin-left: 10px;
}
