.footer {
   border-top: 2px solid #f2f4f5;
   bottom: 0;
   padding: 21px 15px 20px;
   position: absolute;
   right: 0;
   color: #6c757d;
   left: 0;
   text-align: center;
}
.container_fluid {
   width: 100%;
   padding-right: 12px;
   padding-left: 12px;
   margin-right: auto;
   margin-left: auto;
}
